extends layout

block content
  h1= title
  p
    | Stow all your stuff here
    | <br>We get it.</br>
    | <br>You're busy, and putting off important tasks like tracking your valuables is tempting.</br>
    | <br>A few clicks on the keyboard, a few snapshots with your phone - and you'll be ready to go.</br> 
    | <br>So don't get caught without your stuff - stow it all here.</br>

