extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 About
  p
    | Stow all your stuff here
  p  
    | We get it.
  p    
    | You're busy, and putting off important tasks like tracking your valuables is tempting.
  p
    | A few clicks on the keyboard, a few snapshots with your phone - and you'll be ready to go. 
  p
    | So don't get caught without your stuff - stow it all here.

