extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Stow
         small &nbsp;A place for all of your nice stuff!    
  table.table.table-striped
    thead    
      tr    
      th Item Name
      th Location
      th Photo
    tbody
    each item in items
      tr
        td
          a(href='/item/'+ item._id) #{item.name}
        td #{item.location}
        td 
          img.img-thumbnail(src='#{item.photo}')      
 
