extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
         h1 Add New Item

    form(action='/add/item', method='post')
      table.table.table-striped
        thead
        tbody
          tr
          td Item Name:
          td
            input(name='name', type='text')
          tr
          td Location:
          td
            input(name='location', type='text')
          tr
          td Purchase Date:
          td
            input(name='purchase_date', type='date')
          tr
          td Purchase Price:
          td
            input(name='purchase_price', type='text')
          tr
          td Item Photo:
          td
            input(name='photo', type='file')
          tr
          td Item Receipt:
          td  
            input(name='receipt', type='file')
          tr
          td Notes:
          td
            textarea(name='notes', width='300', height='150')
          tr
          td  
            input(name='Submit', type='submit')
